@import url(http://fonts.googleapis.com/css?family=Oswald:300);

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Oswald", sans-serif;
  padding-bottom: 6rem;
  background-color: #ffffff;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
}

header {
    height: auto;
}

main {
  background-color: #1e1e1e;
  overflow: hidden;
}


footer {
    color: #787878;
    background-color: #000;
    width: 100%;
    height: 100px;
    padding: 24px 0;
}

.fill-viewport-height {min-height: 95vh;}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
}

p {
  font-weight: 100;
  font-size: 1.1rem;
  color: #292b2c;
}

.body-text {
  font-size: 1.3rem;
  font-weight: 300;
}

img {
     width: 100%;
     height: auto;
}

li {
  font-weight: 100;
}

a:link {color: #000; }
a:hover {color: #000; text-decoration: underline;}
a:visited {color: #000; }

hr {background-color: #000;}

small {font-size: .5em; padding-top: 0;}

.flex-grow {
  flex: 1;
}


/* NAVIGATIONAL MENU */

nav {
  background-color: #000;
  font-size: 14pt;
  font-weight: 400;
}

nav ul li a {
  color: #515352!important;
  text-transform: uppercase;
}

.navbar-brand {
  color: #515352!important;
  text-transform: uppercase;
}

.navbar-brand:hover {color: #fff!important;}
nav ul li a:hover {color: #fff!important;}

.nav-item .dropdown {
    background-color: none!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu{
  background-color: #000;
  border: transparent;
  border: none;
}
.dropdown-menu .dropdown-item > li > a:hover {
  background-image: none;
  background-color: #000!important;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.navbar-toggler-icon { color: #515352!important; }

/**  Header Navigation **/


.hero {
  background: url(../images/homepage/home.jpg); 
  background-repeat:no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.inner-section{
  display:flex;
  flex-direction:column;
  color: #fff;
  align-items: center;
  justify-content:center;
  text-align: center;
  margin:auto;
  height:100%;
  padding:5rem 0;
  max-width:860px;
}

.inner-section h1{
  font-size:4rem;
  margin-top:0rem;
  color: #fff;
  }

.inner-section p{
  margin-top: 1rem;
  font-size:1.5rem;
  color: #fff;

}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

/* ABOUT SECTION */

.about {  
  background-color: #ffffff;
  line-height: 160%;
  min-height: 100vh;
  color: #292b2c;
}
.about a:hover {font-weight: bold;}
.about a {color: #292b2c;}

/* SIDEBAR  */
.sidebar {
  line-height: 160%;
  min-height: 100vh;
  color: #292b2c;
  padding: 0 0 0 1em;
}

/* GAMER SECTION  */

.gamers {
  background-color: #ffffff;
  background-repeat:no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}
.gamers a:hover {color: #292b2c; font-weight: bold;}
.gamers hr {background-color: #292b2c;}


/* REVIEWS SECTION  */

.featured-review {
  background-color: #292b2c;
  position: relative;
  min-height: 100vh;
  color: #ffffff;
}
.featured-review h1 {color: #ffffff;}
.featured-review h2 {color: #fff;}
.featured-review p {color: #ffffff;}
.featured-review a:link {color: #ffffff;}
.featured-review hr {background-color: #ffffff;}

.reviews {
  background-color: #ffffff;
  color: #292b2c;
  font-size: 1.8rem;
  min-height: 100vh;
}

.review-details {
  background-color: #ffffff;
  color: #292b2c;
  font-size: 1.8rem;
  min-height: 100vh;
}

.review-info {
  background-color: #fff;
  color: #292b2c;
  font-size: 1.8rem;
  min-height: 100vh;
}

.review-quote {
  background-color: #f8f9fa;
  height: auto;
  padding: 0em;
}


/* GOTY  */

.featured-goty {
  background-color: #292b2c;
  position: relative;
  min-height: 100vh;
  color: #ffffff;
}
.featured-goty h1, .featured-goty h2, .featured-goty p {color: #ffffff;}
.featured-goty hr {background-color: #ffffff;}


.goty {
  background-color: #ffffff;
  color: #292b2c;
  font-size: 1.8rem;
  min-height: 100vh;
}

.goty-details {
  background-color: #ffffff;
  color: #292b2c;
  font-size: 1.8rem;
  min-height: 100vh;
}

.goty-info {
  background-color: #fff;
  color: #292b2c;
  font-size: 1.8rem;
  min-height: 100vh;
}

.goty-quote {
  background-color: #f8f9fa;
  height: auto;
  padding: 0em;
}

/** GALLERY AND PIXGRID **/

.gallery {
  background-color: #ffffff;
  background-repeat:no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  color: #292b2c;
}

.gallerydetails {
  background-color: #ffffff;
  font-size: 1rem;
  min-height: 100vh;
  padding: 0rem;
  color: #292b2c;
}

.pixgrid {
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 0px 10px 0px;
}

.zoom {
  transition: transform .2s; 
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); 
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 100%;
  }
}

/** FEEDBACK **/

.feedback {
  background-color: #ffffff;
  min-height: 100vh;
  color: #292b2c;
}


/* PAGES  */

/* GAMERS PAGE  */

.gamerslist {
  background-color: #ffffff;
  font-size: 1.8rem;
  padding: 10rem 0 0 0 ;
  color: #292b2c;
  min-height: 100vh;
}

.gamersdetails {
  background-color: #ffffff;
  font-size: 1rem;
  min-height: 100vh;
  padding: 0rem;
  color: #292b2c;
}

/* 404 PAGE  */
.error {
  background: url(../images/misc/bg-error.jpg) no-repeat 100% 5%;
  background-repeat:no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  color: #fff;
}

/* FOOTER  */

.footer {
  background-color: #343a40;
  width: 100%;
  height: auto;
  color: #ffffff;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/* RATING  */

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 2rem;
}

.stars-container:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color:lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-details {text-align: center;}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100%;}

/* TABLES  */

table {
  font-size: 0.8rem;
}