<%#Import the header%>
<%- include('templates/header'); -%>
<%#/Import the header%>

<section class="about">
    <div class="container">
          <div class="row">
            <div class="col-lg-12 my-3 py-3">
              <img src="../images/aboutpage/about.jpg" class="img-fluid col-md-6 float-sm-start m-5" />

            
              <h2 class="text-dark mt-5">About Harry and Hermione</h2><hr />
              <p class="body-text">
              <u>Harry and Hermione</u> is a non-for-profit, fan-created website.<br><br>
              <u>The original objective</u>: To create a website which replaces the void Portkey.org left behind as a website for fanfiction and forum for discussion based solely on the Harry/Hermione pairing.<br><br>
              <a href="/fanfiction">Fanfiction</a>: Was to be a place where authors could post their HHR stories.<br><br>
              The stories would be sorted by readers using a search function similar to what porkey and the archive have (by genres, pairings, rating, and length, options such as including "favorites" are also a possibility).<br><br>
              <a href="/fanart">Fanart</a>: A section called the “Gallery” would be dedicated to posting fan art and where artists can receive comments for their work<br><br>
              <u>Forum</u>: As the spiritual successor of the portkey website, we would also try to emulate the forum and its subsections within our own forum.
              The forum is designed for a variety of discussion that can be had under different topics: a general welcome section with FAQ, announcements,
              and introduction, a shipping subsection where users could focus on discussions centered around the main Harry/Hermione and any minor ships such
              as Lily/James and discuss canon/headcanons etc, a subsection dedicated to fanfiction whether it be finding specific fanficton, recommendations,
              discussing your favorites, or writing your own and discussing with other readers/writers, a subsection dedicated to general talk regarding the
              Harry Potter fandom that does not relate to the Harry/Hermione pairing, and a subsection for offtopic conversation where users can discuss personal
              or miscellaneous subjects.<br><br>
              Unforunately, due to unforseen technical difficulties and lack of knowhow, not everything has worked. The site is what it is, it has it's own identity now.<br>
              Hopefully, even if one person finds joy from it, or looks at it through rose-coloured glasses, it will have been all worth it.<br>
              Additionally, once you have had a look around, and if by chance you like what you see, or if you have some suggestions as to what could be done better, feel free to leave a comment here: <a href="/feedback"><u>Feedback</u></a>.<br>
          </p>
          </div>
        </div>
      </div>
</section>

<!-- VIDEO SECTION STARTS -->
  <section id="hero" class="about-hero bg-white text-black" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 my-3 py-3">

          <video autoplay muted loop class="video">
            <source src="/images/homepage/hero.mp4" type="video/mp4" class="img-fluid embed-responsive embed-responsive-16by9 col-md-6 float-sm-start m-5">
          </video>

            <h2 class="text-black mt-5">About Harry and Hermione</h2><hr />
            <p class="body-text">
            <u>Harry and Hermione</u> is a non-for-profit, fan-created website.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque molestias iste ducimus corporis ex sapiente! Officia, impedit odit dignissimos mollitia, nulla, sapiente natus quod dicta molestias optio cupiditate enim ipsam.
          </p>
         

        </div>
      </div>
    </div>
  </section>
<!-- VIDEO SECTION ENDS -->

<%#Import the footer%>
<%- include('templates/footer'); -%>
<%#/Import the footer%>