<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<!-- Bootstrap 5.3.8 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>


  <%# Screenshot JS %>
  <% if (typeof screenshot !== "undefined") { %>
    <% } %>
  <%# /Screenshot JS%>

  <script src="/js/pixgrid.js"></script>

  <%# Change the CSS style sheet JS %>
  <script src="/js/customisableCSS.js"></script>
  <%# /Change the CSS style sheet JS %>
  <footer class="footer bg-black mt-auto py-3 fixed-bottom">
    <div class="container">
      <span class="text-center">
        Harry and Hermione &copy; 2026. Created by <a href="https://archiveofourown.org/users/IckleRonnikens">IckleRonnikens</a>.<br>
        All rights reserved. <a href="/privacy-policy">Privacy Policy</a>
      </span>
      
    </div>
  </footer>
</body>
</html>